name = "ifigmalab"
compatibility_date = "2025-09-27"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[assets]
directory = "dist"
not_found_handling = "single-page-application"
